 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     background: url('space-background.png');
     font-family: 'Open Sans', arial, sans-serif;
 }


 .clearfix:after {
     content: "";
     display: table;
     clear: both;
 }

 p {
     font-size: 16px;
     line-height: 1.75;
     margin-bottom: 28px;
 }




 /*
   * Heading Styles
  */


 h1,
 h2 {
     font-family: 'Lobster', cursive;
     color: #e22f8f;
     text-align: center;
     margin-bottom: 2rem;
 }

 h1 {

     font-size: 2.5rem;
 }

 h2 {
     font-size: 2rem;
 }

 /*
   * Container Styles
  */

 .container {
     width: 600px;
     margin: 100px auto;

 }

 section.intro,
 section.contact {
     padding: 40px;
 }

 section.intro {
     background: #fff;
 }

 section.contact {
     background: #e6e9ea;
 }

 section.gap {
     margin-bottom: -4px;
 }

 /*
   * images Styles
  */
 .hero {
     line-height: 0;
 }

 .hero img {
     width: 100%;
     border-radius: 20px 20px 0 0;
 }

 aside.right {
     float: right;
 }

 aside.left {
     float: left;

 }

 aside {
     margin-right: 1.5rem;
     margin-bottom: 0.625rem;
 }

 .foot {
     background-color: rgb(26, 28, 26);
     border-radius: 0 0 20px 20px;
 }

 .foot p {
     color: #fff;
     padding: 20px;
 }

 .foot a {
     text-decoration: none;
     color: tomato;
     font-size: 2rem;
 }